$GalacticBlue: #755CDE;
$SummerYellow: #F6A560;
$Pink: #F39E9E;
$LightRed: #EB7565;
$Cyan: #61C4B7;
$DarkPurple: #552049;
$Black: #030303;
$MediumBrown: #7A746E;
$White: #FFF7F0;

$background-main-color: #FFF7F0;