*{
    font-family: 'Plus Jakarta Sans', sans-serif;
};

// <h1 class="headling headling--L">Heading L</h1>
// <h1 class="headling headling--M">Heading M</h1>
// <h1 class="headling headling--S">Heading S</h1>

.headling {
   
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;

    color: $Black;

    @media screen and (min-width: map-get($breakpoint, tablette)) {
      font-size: 44px;
      line-height: 55px;
  }

   @media screen and (min-width: map-get($breakpoint, laptop-L)) {
    font-size: 44px;
    line-height: 55px;
 }
  
};

.paragraph {
    font-style: normal;
    line-height: 26px;
    font-weight: 500;
    font-size: 16px;
    color: $MediumBrown;

    @media screen and (min-width: map-get($breakpoint, tablette)) {
      font-size: 18px;
      line-height: 28px;
  }
};