.gallery{
    display: flex;
    justify-content: center;
    gap: 0px 15px;
    overflow-x: hidden;
    margin: 32px -16px 32px -16px;

    @media screen and (min-width: map-get($breakpoint, tablette)) {
        margin-top: 56px;
        margin-bottom: 56px;
        gap: 0px 30px;
    }
}

.slider__left-image,
.slider__center-image,
.slider__right-image{
    width: 270px;
    height: 180px;
    border-radius: 10px;

    @media screen and (min-width: map-get($breakpoint, tablette)) {
        width: 540px;
        height: 360px;
    }
}

.btnGallery{
    display: flex;
    justify-content: center;
    gap: 0px 16px;

    &--left,
    &--right{
        width: 64px;
        height: 64px;
        background-color: $Black;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        
        @media screen and (min-width: map-get($breakpoint, laptop)) {
            transition: background 0.5s ease-in-out;

            &:hover{
                background-color: $GalacticBlue;
            }
        }

        &:active{
            background-color: $GalacticBlue;
        }        

        & img{
            width: 14.81px;
            height: 16px;
        }
    }
}
