.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;

    @media screen and (min-width: map-get($breakpoint, tablette)) {
        margin-top: 56px;
        
    &--logo{
        width: 48px;
        height: 48px;

        @media screen and (min-width: map-get($breakpoint, tablette)) {
            width: 64px;
            height: 64px;
        }
     }
    }
}